body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: rgba(32,33,36,1);
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

header nav .google__icons {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .google__icons a {
    margin-right: 10px;
}

.g__grid {
    width: 15px;
    height: 15px;
    margin-left: 10px;

}

.catUser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    border: 4px;
    margin-left: 10px;

    > img {
        width: 32px;
        height: 32px;
        border-radius: 100%;
    }
}

.catUser:hover {
    background-color: rgba(60,64,67,.9);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo__cont {
    > img {
        margin-top: 50px;
    }
}

.google__search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    
    border: .2px solid rgb(118, 118, 118);
    border-radius: 40px;
    width: 580px;
    height: 50px;
    margin: 20px;

    > i {
        color: rgb(118, 118, 118);
    }
}

.g__microphone {
    width: 30px;
    height: 30px;
}

.g__camera{
    width: 25px;
    height: 25px;
}


.google__search:hover {
    background-color: #303134;
    border: .2px solid #303134;
}

.bar__search {
    background: transparent;
    width: 450px;
    color: white;
    border: 0;
    font-size: 14px;
}

.g__buttons {
    color: white;
    width: 580px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.g__button__1 {
    background: #303134;
    padding: 10px 15px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 14px;

}

.g__button__2 {
    background: #303134;
    padding: 10px 15px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 14px;
}

footer {
    display: flex;
    color: #999da2;
    font-size: 15px;
    flex-direction: column;
    background: black;
    justify-content: flex-start;
}

footer .country {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    box-sizing: border-box;
}

footer .others {
    border-top: 2px solid #303134;
    height: 50px;
}

footer .others ul{
    display: flex;
    list-style: none;
    background: black;
}

footer .others ul a{
    color: #999da2;
    margin-right: 15px;
}